body {
    text-align: center;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    padding: 15px;
}
hr {
    visibility: hidden;
}
.hide{
    display: none;
}